body {
    background-color: #ffefd5;
    font-family: serif , sans-serif;
    padding: 0;
    margin: 0;
}
p {
    font-size: 1.5em;
}

/*-------------------- Navbar --------------------*/
#nav1 {
    grid-area: nav1;
}
#nav2 {
    grid-area: nav2;
}
#nav3 {
    grid-area: nav3;
    border-top: #ddd solid 5px;
}
#nav4 {
    grid-area: nav4;
}
#nav5 {
    grid-area: nav5;
}
.navbar-container {
    display: grid;
    grid-template-columns: [first] 15vw [line2] 14vw [line3] 14vw [line4] 14vw [line5] 14vw [line6] 15vw [end];
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 4;
    grid-template-areas: ". nav1 nav2 nav3 nav4 nav5 .";
}
.navbar-container a {
    display: block;
    color: white;
    text-align: center;
    padding: 4vh 0;
    text-decoration: none;
    font-family: "Julius Sans One";
    font-weight: bold;
    transition: all 0.4s linear;
    overflow: hidden;
}
.navbar-container a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.2s ease;
}

/*-------------------- Content --------------------*/

.page-content {
    z-index: 3;
    position: relative;
    margin: 0;
    width: 100%;
    background-color: white;
}
.container31{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 10.3vh;
    height: 100vh;
    width: 100%;
    background: url("Resources/Paper.jpg") repeat-y;
}
.page-content .container31 h1{
    font-family: florenbold;
    font-size: 12vh;
    color: orange;
    text-align: center;
    margin: 0;
    padding-top: 1.8em;
}
.page-content .container31 h2 {
    font-size: 12vh;
    font-family: 'coffekanregular';
    text-align: center;
    position: relative;
    margin: 0;
    top: 2.6em;
}
#c3201{grid-area: c3201; justify-self: center}
#c3202{grid-area: c3202; justify-self: center; }
#c3203{grid-area: c3203;}
#c3204{grid-area: c3204;}
#c3205{grid-area: c3205; justify-self: center; z-index: 3} #c3205 img{ transition: all 0.3s ease; border-color: white}
#c3205 img:hover{
    transform: scale(2) translateX(-2em);
    border-color: white;
    border-style: solid;
    border-width: 40px 15px;
    transition: all 0.5s ease;
}
#c3206{grid-area: c3206;}
#c3207{grid-area: c3207;}
#c3208{grid-area: c3208;}
#c3209{grid-area: c3209;}
#c3210{grid-area: c3210; justify-self: center}
#c3211{grid-area: c3211;}
#c3212{grid-area: c3212;}
#c3213{grid-area: c3213;}
#c3214{grid-area: c3214;}
#c3215{grid-area: c3215;}
#c3216{grid-area: c3216; justify-self: center; z-index: 3} #c3216 img{ transition: all 0.3s ease; border-color: white}
#c3216 img:hover{
    transform: scale(2);
    transition: all 0.5s ease;
}
#c3217{grid-area: c3217;}
#c3218{grid-area: c3218;}
#c3219{grid-area: c3219;}
#c3220{grid-area: c3220;}
.container32 {
    display: grid;
    grid-template-columns: [first] minmax(5%,30%) [line1] auto [line2] minmax(5%,30%) [end];
    grid-template-rows: auto;
    grid-template-areas:
        ". c3201 ."
        ". c3202 ."
        ". c3203 ."
        ". c3204 ."
        "c3205 c3205 ."
        ". c3206 ."
        ". c3207 ."
        ". c3208 ."
        ". c3209 ."
        ". c3210 ."
        ". c3211 ."
        ". c3212 ."
        ". c3213 ."
        ". c3214 ."
        ". c3216 ."
        ". c3215 ."
        ". c3217 ."
        ". c3218 ."
        ". c3219 ."
        ". c3220 .";
    background-color: papayawhip;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    padding: 6em 0 6em 0;

}
.page-content .container32 h2{
    top: 30%;
    font-family: "Kanit";
    margin: 0 0 1em 0;
    font-size: 3em;
}
.page-content .container32 h3{
    font-family: "Kanit";
    font-size: 2em;
    margin-top: 3em;
    color: #ff8700;
}
.page-content .container32 h4{
    font-family: "Kanit";
    font-size: 1.5em;
    margin-top: 2em;
}
.page-content .container32 img{
    margin-bottom: 1em;
}
.page-content .container32 p {
    font-family: "Kanit";
    line-height: 2;
    padding-bottom: 1em;
    z-index: 2;
}
.page-content .container32 ul{
    font-family: "Kanit";
    font-size: 1.5em;
    list-style: circle;
    padding-left: 0px;
}
.page-content .container32 ol{
    font-family: "Kanit";
    font-size: 1.5em;
    /*padding-left: 0px;*/
}
#c3214 b{
    color: #ff8700
}

.entered2 {
    -webkit-animation: fade-in-bottom 1s ease-in 0.5s both;
    animation: fade-in-bottom 1s ease-in 0.5s both;
}
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}